<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- set viewport to device width to make responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Project</title>

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  
  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/main.css">
</head>
<body>

    <div class = "container">
      <div class = "row">
        <div class="col-md-6" id="todaysNeo-table">
          <h4 class="text-center">Asteroid: "(2013 RZ53)"</h4>
          <table class="table table-stripped table-bordered">
            <tr>
                <th id="base">Thing/Prop to show</th>
                <th>Asteroid: "(2013 RZ53)"</th>
            </tr>
            <tr>
              <td id="base">Date</td>
              <td>2015-12-04</td>
            </tr>
            <tr>
              <td id="base">Magnitude</td>
              <td>41</td>
            </tr>
            <tr>
              <td id="base">Miss Distance</td>
              <td>30 Lunar Distance(LD)</td>
            </tr>
            <tr>
              <td id="base">Velocity</td>
              <td>5967 mph</td>
            </tr> 
            <tr>
              <td id="base">Diameter</td>
              <td>Min: 5.25   Max: 11.74</td>
            </tr>
          </table>
       


       </div>
    </div> 
  </div>   


 <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/main.js"></script>

</body>
</html>

