{{> header}}

  <div class="jumbotron">
          <div class="container-fluid">
              <h1>Hello World</h1>
          </div>
    </div><!-- closing jumbtron -->
      
  <div class="row" id="main-body">
    <div class="col-md-6 col-md-offset-3" id="main-intro">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta corrupti odio ad cumque quos odit nulla placeat temporibus explicabo fuga, quisquam hic eum id, delectus velit tempore! Doloribus, distinctio!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta corrupti odio ad cumque quos odit nulla placeat temporibus explicabo fuga, quisquam hic eum id, delectus velit tempore! Doloribus, distinctio!</p> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta corrupti odio ad cumque quos odit nulla placeat temporibus explicabo fuga, quisquam hic eum id, delectus velit tempore! Doloribus, distinctio!</p> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta corrupti odio ad cumque quos odit nulla placeat temporibus explicabo fuga, quisquam hic eum id, delectus velit tempore! Doloribus, distinctio!</p> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta corrupti odio ad cumque quos odit nulla placeat temporibus explicabo fuga, quisquam hic eum id, delectus velit tempore! Doloribus, distinctio!</p> 
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima soluta corrupti odio ad cumque quos odit nulla placeat temporibus explicabo fuga, quisquam hic eum id, delectus velit tempore! Doloribus, distinctio!</p>   
    </div>
  </div><!-- closing row 2--> 

      

  <!-- jquery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
   <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
   <!-- custom script --> 
 <script type="text/javascript" src="../public/main.js"></script> 

</body>
</html>