{{> header}}

   <div class="container" id="userhome-page">
    <div class= "row">
      <div class="col-md-12" id="daily-count"></div> 
    </div> 
    <div class = "row" id="titles">
      <div class="col-md-6" id = "prop-title"></div>  
      <div class="col-md-6"></div>
    </div><!-- closing row -->
   
    <!-- chart and table -->
    <div class="row" id="board">
      
      <div class = "col-md-6">
        <!-- <canvas id="myChart" width="400" height="400"></canvas> -->
        <div id="chart"></div>
      </div>
      
      <div class = "col-md-6">
        <table id="dailyTable" class="table table-striped">
          <thead>
            <tr id="tableColName">
              <th></th>
              <th>Asteroids</th>
              <th>Miss Distance(AU)</th>
            </tr>
          </thead>
          <tbody>  
            <script id="dailyTable-template" type="text/x-handlebars-template">
                \{{#each daily }}
                <tr>
                  <td> </td>
                  <td>\{{name}}</td>
                  <td>\{{value}}</td>
                </tr>    
                \{{/each}}
            </script>
          </tbody>
        </table>
      </div>
    </div>
    <nav class="navbar navbar-inverse nav-justified navbar-fixed-bottom">
      <div class="container-fluid">
        <ul class= "nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" id="bottom-nav" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><strong>Today's Properties</strong> <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> &nbsp <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <!-- Dropdown menu links -->
              <li><a href="#" class="neo-prop" data-prop="magnitude">Magnitude</a></li>
              <li><a href="#" class="neo-prop" data-prop="diameter">Diameter</a></li>
              <li><a href="#" class="neo-prop" data-prop="velocity">Velocity</a></li>
              <li><a href="#" class="neo-prop" data-prop="velocity">Miss Distance</a></li>
            </ul>
          </li>  
          </ul>
        </div>
    </div>
  </nav>

  </div> <!-- closing container --> 

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  
  <!-- chart -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <!-- d3. needed for c3. -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.12/d3.min.js"></script>
  <!-- c3. -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.10/c3.min.js"></script>
  <!-- random color -->
  <script type ="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.1/randomColor.min.js"></script>
  <!-- moment -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  <!-- custom script -->
  <script type="text/javascript" src="scripts/getAll.js"></script>
</body>
</html>