{{> header }}
  
  <div class="row">
    <div class="col-md-12">
      <p class="text-center">
        "Hello World"
      </p>
    </div>
    
  </div>   

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
  <!-- custom script -->
  <script type="text/javascript" src="scripts/show.js"></script>
</body>
</html>