{{> header}}

   <div class="container-fluid" id="userhome-page">
    <div class = "row">
      <div class="col-md-12" id="results">   <!-- <h2>Welcome, {{user.username}}!</h2> -->
        <script id="neos-template" type="text/x-handlebars-template">
          <h2>Welcome {{user.username}}</h2>
          <p>This is your profile</p>

          </script> 
        <!-- hbs template -->
    
          <h2>Welcome, {{user.username}}!</h2>
          <p>This is your profile page</p>
                
      </div> <!-- closing results -->
    </div><!-- closing row -->
    
    
    <!-- chart -->
    <canvas id="myChart" width="400" height="600"></canvas>

    <!-- <h3>Am I here?</h3> -->
    <nav class="navbar navbar-inverse nav-justified navbar-fixed-bottom">
      <div class="container">
        <ul class= "nav navbar-nav">
          <li class="dropup">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Today's Properties </span> <span class="caret"></span></a>
            <ul class="dropdown-menu">
            <!-- Dropdown menu links -->
              <li><a href="#" class="neo-prop" data-prop="magnitude">Magnitude</a></li>
              <li><a href="#" class="neo-prop" data-prop="diameter">Diameter</a></li>
              <li><a href="#" class="neo-prop" data-prop="velocty">Velocity</a></li>
            </ul>
          </li>  
          </ul>
        </div>
    </div>
  </nav>

  </div> <!-- closing container --> 

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  
  <!-- chart -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  
  <script type ="text/javascript" src ="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.4.1/randomColor.min.js"></script>
  <!-- moment -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>