{{> header}}

   <div class="container-fluid" id="userhome-page">
    <div class = "row">
      <div class= "col-md-12">
        <h1 class="text-center">Search</h1>
        <hr>
      </div>
      <div class="col-md-6 col-md-offset-3" id="results">

        <!-- hbs template -->
    
        <script id="neos-template" type="text/x-handlebars-template">
          {{#each neos}}
              <li><strong>{{name}}</strong> -  {{absolute_magnitude_h}}  -  {{estimated_diameter.meters}}</li>
                
          {{/each}}
        </script> 
        

      </div> <!-- closing results -->
    </div><!-- closing row -->
    
    
    <!-- chart -->

    <canvas id="myChart" width="400" height="600"></canvas>

  </div> <!-- closing container --> 

  <!-- jquery -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  
  <!-- chart -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>

  <!-- moment -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

  <!-- custom script -->
  <script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>