/*Header.hbs; partial*/
.navbar {
	font-color: white;
	margin-bottom: 0;
}


/*Index*/
.jumbotron {
	height: 300px;
	top: 50px;
	margin-bottom: 0;
}
#main-body{
background-color: rgba(0, 0, 0, .8);	
padding-top: 8%;
padding-bottom: 50px;
}
#main-intro {
	color: white;
	border: white dotted;
	padding: 100px;
	background-color: rgba(0, 0, 0, .5);
}


/*Signup page*/
#signup-form {
	margin-top: 40px;
}
#signup-page {
	background-color: rgba(0, 0, 0, .6);
	padding-bottom: 300px;
	padding-top: 100px;
}
#signup-header{
	color: white;
}


/*Userhome*/
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 400px;
}
#userhome-page {
	background-color: rgba(0, 0, 0, .6);
	color: white;
}

#dailyCount {
	padding-top: 30px;
}