/*Header.hbs; partial*/
.navbar {
	font-color: white;
	margin-bottom: 0;
}

/*Nav Bar*/
#page-title {
	font-family: 'Exo 2', sans-serif;
	font-weight: 900;
}
.navbar-brand {
	color: white;
	font-size: 25px;
}

table {
	counter-reset: rowNumber;
	font-family: 'Playfair Display', serif;
	font-size: 1.25em;
}
table tr {
	counter-increment: rowNumber;
}
table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

#chart {
  width="400";
  height="400"
}
/*Signup page*/
/*#signup-form {
	margin-top: 40px;
}

#signup-page {
	background-color: rgba(0, 0, 0, .6);
	padding-bottom: 300px;
	padding-top: 100px;
}

#signup-header{
	color: white;
}*/


/*Userhome*/
canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 400px;
}




#titles {
	font-family: 'Playfair Display', serif;
	padding: 30px;
}

#daily-count {
	margin: 25px;
}

#count {
	font-family: 'Playfair Display', serif;
	font-size: 3.0em;
}
#table-title {
	font-family: 'Playfair Display', serif;
	font-size: 1.65em;
}

#board {
	padding-bottom: 50px;
}

.navbar-fixed-bottom {
	background-color: #898885;
}

#bottom-nav {
	color: white;
}